GIPHY_API_KEY=
UNSPLASH_API_KEY=
NASA_API_KEY=
TRELLO_API_KEY= # this requires the correct redirect URI to be set up in your Trello app settings: https://53dad6be72180770ccc08f0a6e2fc8a64dcf7b42.extensions.allizom.org and https://dlaogejjiafeobgofajdlkkhjlignalk.chromiumapp.org should work for firefox and chromium respectively.
GOOGLE_CALENDAR_CLIENT_ID= # Chromium Chrome Extension OAuth client
GOOGLE_CALENDAR_FIREFOX_CLIENT_ID= # Firefox Desktop app OAuth client (optional; it can also be entered in Agenda settings)
